@charset "UTF-8";

body {
  font-family : Verdana, Helvetica, Arial, sans-serif;
  background-color: white;
  margin : 0% 2%;
}

kbd {
  padding : 0px 2px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color : rgb(60,60,60);
  font-weight : bold;
  font-size : large;
}
